* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: grey;
}


h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 2px solid #999;
  border-style: ridge;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
  margin-left: 20px;
}
.game {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  margin-right: 45px;
  margin-top: 250px;
}

.board {
  display: inline-block;
}

.game-info ol {
  padding: 0;
  list-style-type: none;
}

.game-info li {
  margin-bottom: 10px;
}

.game-heading {
    font-size: 2rem;
    margin-bottom: 25px;
    color: #333;
}

.square.winning {
  background: yellow;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1200px;
}

.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  background-image: url('space.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  color: white;
}

.left-sidebar {
  margin-right: 70px;
}

.right-sidebar {
  margin-left: 35px;
}